#register-page {
	height: 100vh;
	.register-content {
		height: 100%;
		.card {
			width: 80%;
			position: relative;
			left: 5rem;
			position: relative;
			height: 554px;
			.logo-container {
				position: absolute;
				top: -4rem;
				img {
					width: 100px;
				}
			}
			.card-header {
				h2 {
					color: $green;
				}
			}
			.card-body {
				padding-left: 4rem;
				padding-right: 4rem;
				display: flex;
				justify-content: center;
				.card-body-content {
					width: 100%;
					.form-outline {
						.ant-select {
							width: 100%;
						}
						.ant-picker {
							width: 100%;
						}
					}
					.button-next-container {
						display: flex;
						justify-content: end;
						position: absolute;
						right: 4rem;
						bottom: 20px;
						button {
							background-color: $green;
							color: $white;
							&:hover {
								border-color: $green;
							}
						}
					}
					.button-back-container {
						display: flex;
						justify-content: end;
						position: absolute;
						right: 9rem;
						bottom: 20px;
						button {
							background-color: $green;
							color: $white;
							&:hover {
								border-color: $green;
							}
						}
					}
					.button-save-container {
						display: flex;
						justify-content: end;
						position: absolute;
						right: 4rem;
						bottom: 20px;
						button {
							background-color: $green;
							color: $white;
							&:hover {
								border-color: $green;
							}
						}
					}
					.slider-container {
						.slider-content {
							.user-avatar {
								.ant-avatar {

								}
							}
							svg {
								color: #000;
							}
						}
					}
				}
			}
		}
		.step-container {
			background-color: $green;
			height: 100%;
			display: flex;
			align-items: center;
			.ant-steps {
				height: 500px;
				position: relative;
				top: 75px;
				left: 40px;
				.ant-steps-item {
					&.ant-steps-item-active {
						.ant-steps-item-icon {
							background-color: $green;
							border-color: $green;
						}
					}
					&.ant-steps-item-wait {
						.ant-steps-item-icon {
							background-color: $white;
						}
					}
					&.ant-steps-item-finish {
						.ant-steps-item-icon {
							background-color: $green;
							border-color: $green;
							.ant-steps-icon {
								color: $white;
							}
						}
					}
					.ant-steps-item-icon {
						box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
					}
					.ant-steps-item-tail::after {
						background-color: transparent;
					}
					.ant-steps-item-content {
						.ant-steps-item-title {
							color: $white;
						}
						.ant-steps-item-description {
							color: $white;
						}
					}
				}
			}
		}
	}
}